body {
	margin: 0px;
}

#content {
	width: 1000px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

#topMenu {
	background-color: #d9d9d9;
	height: 70px;
	width: 100%;
}

ul {
	height: 70px;
	padding-left: 0px;
	margin: 0px;
}

#topMenu ul li {
	height: 70px;
	list-style: none;
	color: white;
	float: left;
	text-align: center;
	list-style: none;
}

#topMenu .menuLink {
	text-decoration: none;
	color: black;
	display: inline-block;
	line-height: 70px;
	width: 120px;
	font-size: 14px;
	font-weight: bold;
	width: 120px;
}

#topMenu .active {
	color: rgb(150, 199, 69);
}

#topMenu .menuLink:hover {
	color: white;
	background-color: #8bbd39;
}

#img-logo {
	margin: 5px 20px;
}

address, em {
	font-style: normal;
}

footer {
	display: flex;
	height: 50px;
	bottom: 0px;
	font-size: 10px;
	color: #666;
	font-family: -apple-system, BlinkMacSystemFont, tahoma, Dotum, gulim,
		"Apple SD Gothic Neo", Helvetica, Sans-serif;
}

footer address {
	text-align: center;
}

.buttonGroup {
	text-align: center;
}

.longInput {
	width: 600px;
}

.shortInput {
	width: 100px;
}

button, input[type="button"], .btn {
	font-size: 15px;
	height: 30px;
	padding: 5px;
	background-color: #dddddd;
	border: 0;
	outline: 0;
}

.whiteBtn {
	background-color: #ffffff;
}

.radiusBtn {
	border-radius: 5px;
}

caption {
	text-align: left;
	font-size: 18px;
	font-weight: bold;
	margin: 20px;
}

table {
	margin: 40px auto;
	border-collapse: collapse;
}

th, td {
	font-size: 12px;
	text-align: left;
	border: 1px solid black;
	padding-left: 5px;
}

td {
	width: 800px;
}

#category {
	width: 350px;
}

#cooperationSelect {
	width: 100px;
}

#productImage td {
	padding: 25px 10px;
}

input[type="file"] {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
}

a {
	text-decoration: none
}