<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/css/common.css" />
<title>협력사 상품 등록</title>
</head>
<body >
	<nav id="topMenu" >
		<ul>
			<li><img id="img-logo" src="/image/danawalogo.gif" alt=""></li>
			<li><a class="menuLink" href="/">기준상품등록</a></li>
			<li><a class="menuLink active" href="/cooperationProduct">협력사상품등록</a></li>
			<li><a class="menuLink" href="#">상품링크</a></li>
			<li><a class="menuLink" href="#">상품정보 파싱</a></li>
			<li><a class="menuLink" href="#">엑셀파일등록</a></li>
		</ul>
	</nav>
</body>
</html>