<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/css/common.css" />
<link rel="stylesheet" type="text/css" href="/css/standard.css" />
<title>기준 상품 등록</title>
</head>
<body>
	<nav id="topMenu">
		<ul>
			<li><img id="img-logo" src="/image/danawalogo.gif" alt=""></li>
			<li><a class="menuLink active" href="/">기준상품등록</a></li>
			<li><a class="menuLink" href="/cooperationProduct">협력사상품등록</a></li>
			<li><a class="menuLink" href="#">상품링크</a></li>
			<li><a class="menuLink" href="#">상품정보 파싱</a></li>
			<li><a class="menuLink" href="#">엑셀파일등록</a></li>
		</ul>
	</nav>
	<div id="content">
		<table>
			<caption>기준 상품 등록</caption>
			<tr>
				<th scope="row">상품코드</th>
				<td>신규 상품 등록 중입니다.</td>
			</tr>
			<tr>
				<th scope="row">상품 명</th>
				<td>
					<input type="text" id="name" name="name">
				</td>
			</tr>
			<tr id>
				<th scope="row">카테고리</th>
				<td>
					<select id="category" name="category" multiple="">
						<option>[대분류]</option>
						<option>디키털 완제품</option>
						<option>PC 주요 부품</option>
						<option>주변기기</option>
						<option>사무기기</option>
					</select>
				</td>
			</tr>
			<tr id="productImage">
				<th scope="row">상품 이미지</th>
				<td>
					<div>
						<label><input type="radio" name="fruit" value="apple"> 없음</label> 
						<label><input type="radio" name="fruit" value="banana"> 다나와제작</label>
						 <label><input type="radio" name="fruit" value="apple"> 제조사 제공</label> 
						 <label><input type="radio" name="fruit" value="banana"> 협력사 선택</label> 
						 <select id="cooperationSelect" name="cooperationSelect">
							<option>[대분류]</option>
							<option>디키털 완제품</option>
							<option>PC 주요 부품</option>
							<option>주변기기</option>
							<option>사무기기</option>
						</select>
					</div>
					<div>
						<input type="file" name="file" id="file">
						<input class="upload-name" value="파일선택">
						<label for="file">찾아보기</label> 출처 URL
						<input type="text">
					</div>
				</td>
			</tr>
			<tr>
				<th scope="row">제조일자</th>
				<td>
					<input type="text" id="createDate" name="createDate">
					예) 2014년 9월 -> 201409
				</td>
			</tr>
			<tr>
				<th scope="row">설명추가</th>
				<td>
					<input type="text" id="description" name="description">
				</td>
			</tr>
		</table>
		<div class="buttonGroup">
		<button>추가</button>
		<button>취소</button>
		</div>
	</div>
	<footer>
		<address>
			Copyright © <strong>danawa</strong> Co., Ltd. All Rights Reserved.
		</address>
	</footer>
</body>
</html>